@font-face {
    font-family: HalisGR-Bold;
    src: url(fonts/HalisGR-Bold.otf);
}
@font-face {
    font-family: HalisGR-Book;
    src: url(fonts/HalisGR-Book.otf);
}
@font-face {
    font-family: HalisGR-Medium;
    src: url(fonts/HalisGR-Medium.otf);
}
@font-face {
    font-family: HalisGR-Regular;
    src: url(fonts/HalisGR-Regular.otf);
}